@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
  margin-block-start: 0;
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: end;
  background-color: hsl(185, 41%, 84%);
  font-family: "Space Mono", monospace;
}

.main {
  max-width: 25rem;
  background-color: white;
  padding: 1.5em;
  margin-top: 1.5em;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container legend {
  color: hsl(184, 7%, 45%);
}
.form-container input[type=number]::-moz-placeholder {
  opacity: 0.5;
}
.form-container input[type=number]::placeholder {
  opacity: 0.5;
}
.form-container input[type=number] {
  color: hsl(177, 94%, 14%);
}

.bill-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: start;
}
.bill-container label {
  margin-bottom: 0.2em;
  color: hsl(184, 7%, 45%);
}
.bill-container .bill-input {
  display: block;
  width: 100%;
  text-align: right;
  font-size: 1.5rem;
  padding: 0.2em;
  margin-bottom: 1em;
  border-radius: 6px;
  border: none;
  background-color: hsl(202, 50%, 97%);
  background-image: url(../assets/icon-dollar.svg);
  background-repeat: no-repeat;
  background-position: left 5% center;
}

.people-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: start;
}
.people-container label {
  margin-bottom: 0.2em;
  color: hsl(184, 7%, 45%);
}
.people-container .people-input {
  display: block;
  width: 100%;
  text-align: right;
  font-size: 1.5rem;
  padding: 0.2em;
  margin-bottom: 1em;
  border-radius: 6px;
  border: none;
  background-color: hsl(202, 50%, 97%);
  background-image: url(../assets/icon-person.svg);
  background-repeat: no-repeat;
  background-position: left 5% center;
}

.tip-fieldset-Grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  border: none;
  margin: 0;
  padding: 0;
}

.input-wrapper {
  position: relative;
  padding: 0.5em;
  margin-bottom: 1em;
}
.input-wrapper .tip-label {
  background-color: hsl(183, 100%, 15%);
  color: white;
  font-size: 1.5em;
  padding: 0.4em;
  border-radius: 5px;
  display: grid;
  place-content: center;
  cursor: pointer;
  transition: color 0.2s linear, background-color 0.1s linear;
}
.input-wrapper .custom-input {
  display: block;
  width: 100%;
  font-size: 1.5em;
  text-align: center;
  padding: 0.4em;
  border-radius: 5px;
  border: none;
  background-color: hsl(202, 50%, 97%);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

input[type=radio]:checked + .tip-label {
  background-color: hsl(175, 61%, 38%);
  color: black;
}

input[type=radio]:hover + .tip-label, input[type=radio]:focus-visible {
  background-color: hsl(173, 61%, 77%);
  color: black;
}

.result-container {
  background-color: hsl(183, 100%, 15%);
  padding: 2em 1.5em;
  border-radius: 12px;
}
.result-container .tip-amount {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 0.875rem;
  margin-bottom: 2em;
}
.result-container .total-people {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 0.875rem;
}
.result-container .person-span {
  font-size: 0.815rem;
  color: hsl(186, 21%, 50%);
}
.result-container .span-value {
  color: hsl(172, 60%, 46%);
  font-size: 1.7rem;
}

.reset-button {
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 1.2rem;
  text-transform: uppercase;
  border: none;
  border-radius: 6px;
  margin-top: 1.5em;
  padding: 0.4em;
  background-color: hsl(172, 67%, 45%);
  color: hsl(178, 100%, 16%);
  transition: color 0.2s linear, background-color 0.2s linear;
}

.reset-button:hover {
  background-color: hsl(173, 61%, 77%);
}

.attribution {
  display: none;
  font-size: 0.75rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}/*# sourceMappingURL=style.css.map */