@use 'reset';
//Font Style
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

//Variables
$body-bg-color: hsl(185, 41%, 84%);
$radio-bg-color: hsl(183, 100%, 15%);
$input-bg-color: hsl(202, 50%, 97%);
$radio-selected-bg-color: hsl(175, 61%, 38%);
$button-bg-color: hsl(172, 67%, 45%);
$button-active-bg-color: hsl(173, 61%, 77%);
$button-color: hsl(178, 100%, 16%);
$value-color: hsl(172, 60%, 46%);
$text-color: hsl(184, 7%, 45%);
$input-value-color: hsl(177, 94%, 14%);

@mixin Flex($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

body {
    @include Flex(column);
    justify-content: end;
    background-color: $body-bg-color;

    font-family: 'Space Mono', monospace;
}

.main {
    max-width: 25rem;

    background-color: white;
    padding: 1.5em;
    margin-top: 1.5em;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

.logo {
    @include Flex(column);

}

.form-container {
    legend {
        color: $text-color;
    }

    input[type="number"]::placeholder {
        opacity: 0.5;
    }

    input[type="number"] {
        color: $input-value-color;
    }

    //Removing number arrows control
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        appearance: none;
    }
}

.bill-container {
    @include Flex(column);
    align-items: start;

    label {
        margin-bottom: 0.2em;
        color: $text-color
    }

    .bill-input {
        display: block;
        width: 100%;
        text-align: right;
        font-size: 1.5rem;
        padding: 0.2em;
        margin-bottom: 1em;
        border-radius: 6px;
        border: none;
        background-color: $input-bg-color;
        background-image: url(../assets/icon-dollar.svg);
        background-repeat: no-repeat;
        background-position: left 5% center;
    }
}

.people-container {
    @include Flex(column);
    align-items: start;

    label {
        margin-bottom: 0.2em;
        color: $text-color;
    }

    .people-input {
        display: block;
        width: 100%;
        text-align: right;
        font-size: 1.5rem;
        padding: 0.2em;
        margin-bottom: 1em;
        border-radius: 6px;
        background-color: $input-bg-color;
        background-image: url(../assets/icon-person.svg);
        background-repeat: no-repeat;
        background-position: left 5% center;
    }
}

.label-error-Flex-row {
    @include Flex(row);
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.2em;

    p {
        font-size: 0.875rem;
        color: hsl(13, 74%, 56%);
    }
}

.tip-fieldset-Grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-content: center;
    align-items: center;

    border: none;
    margin: 0;
    padding: 0;
}

.input-wrapper {
    position: relative;
    padding: 0.5em;
    margin-bottom: 1em;

    .tip-label {
        background-color: $radio-bg-color;
        color: white;
        font-size: 1.5em;
        padding: 0.4em;
        border-radius: 5px;
        display: grid;
        place-content: center;
        cursor: pointer;
        transition: color 0.2s linear, background-color 0.1s linear;
    }

    .custom-input {
        display: block;
        width: 100%;
        font-size: 1.5em;
        text-align: center;
        padding: 0.2em;
        border-radius: 5px;
        border: none;
        background-color: $input-bg-color;
    }

}

//visually hide input elements for custom styling
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}

//Sibling combinator between label and input
input[type="radio"]:checked+.tip-label {
    background-color: $radio-selected-bg-color;
    color: black;
}

input[type="radio"]:hover+.tip-label,
input[type="radio"]:focus-visible {
    background-color: $button-active-bg-color;
    color: black;
}


//Results styling
.result-container {
    background-color: $radio-bg-color;
    padding: 2em 1.5em;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
   

    .tip-amount {
        @include Flex(row);
        justify-content: space-between;
        color: white;
        font-size: 0.875rem;
        margin-bottom: 2em;
    }

    .total-people {
        @include Flex(row);
        justify-content: space-between;
        color: white;
        font-size: 0.875rem;
    }

    .person-span {
        font-size: 0.815rem;
        color: hsl(186, 21%, 50%);
    }

    .span-value {
        color: $value-color;
        font-size: 2.5rem;
    }

}

//Button is grayed out before any valid results === Swtiching class using state managment in react
.default-button {
    width: 100%;
    font-size: 1.2rem;
    text-transform: uppercase;
    border: none;
    border-radius: 6px;
    margin-top: 1.5em;
    padding: 0.4em;
    background-color: hsl(183, 79%, 24%);
    color: hsl(183, 100%, 15%);
}

.reset-button {
    width: 100%;
    cursor: pointer;
    font-size: 1.2rem;
    text-transform: uppercase;
    border: none;
    border-radius: 6px;
    margin-top: 1.5em;
    padding: 0.4em;
    background-color: $button-bg-color;
    color: $button-color;
    transition: color 0.2s linear, background-color 0.2s linear;
}

.reset-button:hover {
    background-color: $button-active-bg-color;
}

//Footer
.attribution {
    display: none;
    font-size: 0.75rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


//Grid display for desktop
@mixin Grid($columns, $rows) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    grid-template-rows: repeat($rows, 1fr);
    place-content: center;
}

//Desktop media query
@media (min-width: 50rem) {
    body {
        justify-content: center;
    }

    .main {
        max-width: 54rem;
        @include Grid(2, 1);
        border-radius: 12px;
    }

    .bill-container,
    .people-container {
        margin-right: 2em;
    }

    .tip-fieldset-Grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-right: 2em;
    }

    .total-people {
        margin-bottom: 5.5em;
    }

    .attribution {
        display: block;
    }

}